.a {
    color: Red;
}
.b {
    color: Green;
}
.c {
    color: Chartreuse;
}
.d {
    color: Blue;
}
.e {
    color: DarkOrange;
}
.f {
    color: Gold;
}
.g {
    color: HotPink;
}
.h {
    color: Sienna;
}
.X {
    color: white; background-color: black;
}
.Z {
    color: white; background-color: green;
}
